@snb:registry=https://gitlab2.devops.k8s.safra.int/api/v4/projects/114/packages/npm/
//gitlab2.devops.k8s.safra.int/api/v4/projects/114/packages/npm/:_authToken="bFxdeSan6BN9bxEySziz"

strict-ssl = false